@import "tailwindcss";
@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-base {
  @apply px-4 py-2 rounded-lg border 
  bg-white dark:bg-slate-900 
  text-slate-900 dark:text-slate-100 
  border-slate-200 dark:border-slate-700 
  hover:bg-slate-900 hover:text-white 
  dark:hover:bg-white dark:hover:text-slate-900 
  transition-colors duration-200;
}

  .list-base {
    @apply border 
      border-slate-200 dark:border-slate-700
      bg-white dark:bg-slate-900
      text-slate-900 dark:text-slate-100
      rounded-xl
      p-4
      shadow-sm
      hover:bg-slate-50 dark:hover:bg-slate-800
      transition-colors duration-200;
  }

